.app{
  display: inline-flex;
}

body {
  margin: 0;
  background-color: rgb(15, 58, 99);
  color: white;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  margin: 15px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 3px;
  width: 11vw;
}

.input{
  width: 10vw;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 5px
}

.container{
  border: 2px solid white;
  height: 65vh;
  width: 30vw;
}